.box-body{
    width: 600px;
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top:25%;
    z-index: +2;
}
.confirm-box-title{
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
}
.confirm-box-description{
    font-size: 17px;
    padding: 15px;
}
.confirm-message{
    font-size: 15px;
    color: red;
    padding-left: 15px;
}
.confirm-box-buttons{
    display: flex;
    justify-content: end;
    padding: 5px;
}
@media screen and (max-width:500px) and (min-width:200px) {
    .box-body{
        width: 300px;
        background-color: rgb(228, 228, 228);
        border: 1px solid black;
        border-radius: 10px;
        position: absolute;
        left: 30%;
        top:15%;
        z-index: +2;
    }
}
@media screen and (max-width:800px) and (min-width:500px) {
    .box-body{
        width: 400px;
        
        left: 30%;
        top:20%;
        
    }
}
@media screen and (max-width:1000px) and (min-width:800px) {
    .box-body{
        width: 480px;
        
        left: 30%;
        top:25%;
        
    }
}