.list-map-div{
    /* background-color: red; */
    width: 20%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 500px;
}
.item-alignment{
    display: flex;
    /* flex-direction: row; */
}
.name-container{
    width: 95%;
    height: 100px;
    background-color: rgb(180, 180, 180);
    border-radius: 10;
    border: 2px solid black;
    margin-top: 5px;
    box-shadow: inset 10px 15px 20px rgba(0,0,0,0.2),
    5px 5px 15px rgba(0,0,0,.1),
    10px 10px 15px rgba(0,0,0,0.2);
    inset: -20px -10px 25px rgba(255,255,255,.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.workflow-name{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}
.draft-text{
    font-size: 10px;
    cursor: pointer;
    padding-right: 5px;
}