.file-div{
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    position: absolute;
    right:150px;
    top:200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: +2;
  }
  .file-name-div{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-color: black;
    border-bottom-width: 2px;
    cursor: pointer;
  }