.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: red; */
  align-items: flex-start;
}
.nav-div{
  background-color: cyan;
}
.home-div{
  width: 75%;
}
.arrange-divs{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  justify-content: space-between;
  /* align-items: flex-end; */
  width: 100%;
}
.itemDiv{
  width: 35%;
  border: 1px solid black;
  padding: 10px;
  background-color: #A9D6FF;
  position: absolute;
}
.items{
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 5px;
}
h1{
  font-size: 25px;
  font-weight: bold;
}
h3{
  font-size: 15px;
  color: #3B3C3C;
}
.h3-div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-field{
  width: 85%;
  height: 20px;
  margin:3px;
  border:2px solid black;
  border-radius: 5px;
  color: black;
}
.create-field{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-field{
  width: 80%;
  height: 20px;
  margin:3px;
  border:2px solid black;
  border-radius: 5px;
  background-color: #E1E1E1;
}
.image{
  width: 25px;
  height: 25px;
}
.cross-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-div{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.abt-div{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:220px;
}
.names{
  font-size: 12px;
}
.order-div{
  margin: 5px;
}
.main-div{
  background-color: green;
}
.arrange{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.collapse{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dtl-div{
  background-color: white;
  width: 450px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  align-self: flex-end;
}
.button{
  background-color: rgb(221, 221, 221);
  width: 80px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
}
.btn-div{
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}
p{
  font-size: 10px;
  font-weight: bold;
  cursor:pointer
}
.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-div{
  background-color: white;
  width: 100%;
}
.user{
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-div{
  display: flex;
  flex-direction: column;
}
.writing-div{
  width: 100%;
  height: 100px;
}
.font_size{
  width: 60px;
  height: 30px;
  background-color: red;
}
.btns{
  display: flex;
}
.btn-container{
  background-color: #2d81ff;
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  border-radius: 20px;
  font-size: 15px;
}
.icons{
  width: 35px;
  height: 35px;
  border: 2px black solid;
  border-radius: 50px;
  margin:5px
}
.file-div{
  background-color: white;
  border:2px solid black;
  border-radius: 10px;
  width: 500px;
  display: flex;
  position: absolute;
  right:150px;
  top:200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: +2;
}
.file-name-div{
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
  border-bottom-color: black;
  border-bottom-width: 2px;
  cursor: pointer;
}
@media screen and (min-width:1400px) {
  .App{
    display: flex;
  }
  .itemDiv{
    width: 20%;
    border: 1px solid black;
    padding: 10px;
    background-color: #A9D6FF;
  }
  .items{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    height: 120px;
  }
  h1{
    font-size: 18px;
    font-weight: bold;
  }
  h3{
    font-size: 13px;
    color: #3B3C3C;
  }
  .h3-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .nav-div{
    background-color: cyan;
  }
  .home-div{
    width: 78%;
  }
  .arrange-divs{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .info-div{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  /* padding: 10px; */
  }
  .arrange{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
/* Changes */
  .abt-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:270px;
  }
  .button{
    background-color: rgb(221, 221, 221);
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* border-radius: 100px; */
    margin: 2px;
    cursor: pointer;
  }
  .names{
    font-size: 15px;
  }
  .order-div{
    margin: 10px;
  }
  .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-div{
    background-color: white;
    width: 100%;
  }
  .btn-name{
    font-size: 13px;
    color: black;
  }
  .dtl-div{
    background-color: white;
    width: 330px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:1400px) {
  .App{
    display: flex;
  }
  .itemDiv{
    width: 20%;
    border: 1px solid black;
    padding: 10px;
    background-color: #A9D6FF;
  }
  .items{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    height: 110px;
  }
  h1{
    font-size: 18px;
    font-weight: bold;
  }
  h3{
    font-size: 12px;
    color: #3B3C3C;
  }
  .h3-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .nav-div{
    background-color: cyan;
  }
  .home-div{
    width: 78%;
  }
  .arrange-divs{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .info-div{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 10px;
    }
    .arrange{
      display: flex;
      width: 97%;
      flex-direction: column;
    }
/* Changes */
  .abt-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:270px;
  }
  .button{
    background-color: rgb(221, 221, 221);
    width: 90px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* border-radius: 100px; */
    margin: 2px;
    cursor: pointer;
  }
  .names{
    font-size: 15px;
  }
  .order-div{
    margin: 10px;
  }
  .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-div{
    background-color: white;
    width: 100%;
  }
  .btn-name{
    font-size: 13px;
    color: black;
  }
  .dtl-div{
    background-color: white;
    width: 330px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .file-div{
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    position: absolute;
    right:170px;
    top:200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-name-div{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-color: black;
    border-bottom-width: 2px;
    cursor: pointer;
  }
}
@media screen and (max-width:1200px) {
  .App{
    display: flex;
  }
  .itemDiv{
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    background-color: #A9D6FF;
  }
  .items{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    height: 120px;
  }
  h1{
    font-size: 18px;
    font-weight: bold;
  }
  h3{
    font-size: 12px;
    color: #3B3C3C;
  }
  .h3-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  .home-div{
    width: 73%;
  }
  .arrange-divs{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .info-div{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 10px;
    }
    .arrange{
      display: flex;
      width: 97%;
      flex-direction: column;
    }
/* Changes */
  .abt-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:205px;
  }
  .button{
    background-color: rgb(221, 221, 221);
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 2px;
    cursor: pointer;
  }
  .names{
    font-size: 13px;
  }
  .order-div{
    margin: 10px;
  }
  .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-div{
    background-color: white;
    width: 100%;
  }
  .btn-name{
    font-size: 10px;
    color: black;
  }
  .dtl-div{
    background-color: white;
    width: 330px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .file-div{
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    width: 500px;
    display: flex;
    position: absolute;
    right:150px;
    top:180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-name-div{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-color: black;
    border-bottom-width: 2px;
    cursor: pointer;
  }
}
@media screen and (max-width:1000px) {
  .App{
    display: flex;
  }
  .itemDiv{
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    background-color: #A9D6FF;
  }
  .items{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    height: 110px;
  }
  h1{
    font-size: 17px;
    font-weight: bold;
  }
  h3{
    font-size: 13px;
    color: #3B3C3C;
  }
  .h3-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-div{
    background-color: cyan;
  }
  .home-div{
    width: 72%;
  }
  .arrange-divs{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .info-div{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 10px;
    }
    .arrange{
      display: flex;
      width: 97%;
      flex-direction: column;
    }
/* Changes */
  .abt-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:205px;
  }
  .button{
    background-color: rgb(221, 221, 221);
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* border-radius: 100px; */
    margin: 2px;
    cursor: pointer;
  }
  .names{
    font-size: 12px;
  }
  .order-div{
    margin: 10px;
  }
  .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-div{
    background-color: white;
    width: 100%;
  }
  .btn-name{
    font-size: 7px;
    color: black;
  }
  .dtl-div{
    background-color: white;
    width: 330px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .file-div{
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    width: 450px;
    display: flex;
    position: absolute;
    right:70px;
    top:160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-name-div{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-color: black;
    border-bottom-width: 2px;
    cursor: pointer;
  }
}
@media screen and (max-width:700px) {
  .App{
    display: flex;
  }
  .itemDiv{
    width: 28%;
    border: 1px solid black;
    padding: 10px;
    background-color: #A9D6FF;
  }
  .items{
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 5px;
    height: 100px;
  }
  h1{
    font-size: 15px;
    font-weight: bold;
  }
  h3{
    font-size: 10px;
    color: #3B3C3C;
  }
  .h3-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  .nav-div{
    background-color: cyan;
  }
  .home-div{
    width: 68%;
  }
  .arrange-divs{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .info-div{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 10px;
    }
    .arrange{
      display: flex;
      width: 97%;
      flex-direction: column;
    }
  .abt-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:165px;
  }
  .button{
    background-color: rgb(221, 221, 221);
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* border-radius: 100px; */
    margin: 2px;
    cursor: pointer;
  }
  .names{
    font-size: 10px;
  }
  .order-div{
    margin: 5px;
  }
  .main-div{
    background-color: green;
  }
  .profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-div{
    background-color: white;
    width: 100%;
  }
  .btn-name{
    font-size: 5px;
    color: black;
  }
  .dtl-div{
    background-color: white;
    width: 330px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
  }
  .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .file-div{
    background-color: white;
    border:2px solid black;
    border-radius: 10px;
    width: 400px;
    display: flex;
    position: absolute;
    right:50px;
    top:120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .file-name-div{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-color: black;
    border-bottom-width: 2px;
    cursor: pointer;
  }
}